<div class="main-menu">
    <div class="menu-inner">
        <nav>
            <!--
                page_id <li> ler sırası ile 1, 2, 3 şeklinde
                collapse <li> ler de 1.1 1.2 1.3 gibi gibi 
                yani 1. li bir collapse ve altında 3 li var
            -->
            <ul class="metismenu" id="menu">
                @*<li>
                    <a href="javascript:void(0)" aria-expanded="true">
                        <i class="ti-dashboard"></i><span>Kontrol Paneli</span>
                    </a>
                    <ul class="collapse @((int)ViewBag.PageId==0?"in":"")">
                        <li class="@(ViewBag.PageId==0.1?"active":"")"><a href="/Admin/Home/Index">Anasayfa</a></li>
                        <li><a href="#">Raporlar</a></li>
                    </ul>
                </li>*@
                <li class="@(ViewBag.PageId==0.1?"active":"")">
                    <a href="/Admin/Home/Index">
                        <i class="ti-dashboard"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>

                <hr style="border:0.5px solid darkslategrey">

                <li class="@(ViewBag.PageId==1?"active":"")">
                    <a href="/Admin/WebsiteData/Index">
                        <i class="ti-settings"></i>
                        <span>Genel Ayarlar</span>
                    </a>
                </li>
                <li class="@(ViewBag.PageId==2?"active":"")">
                    <a href="/Admin/SocialMedia/Index">
                        <i class="ti-instagram "></i>
                        <span>Sosyal Ağlar</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" aria-expanded="true">
                        <i class="ti-layout-grid2"></i>
                        <span>Anasayfa Bölümleri</span>
                    </a>
                    <ul class="collapse @((int)ViewBag.PageId==3?"in":"")">
                        <li class="@(ViewBag.PageId==3.1?"active":"")"><a href="/Admin/Navigation/Index">Üst Kısım</a></li>
                        <li class="@(ViewBag.PageId==3.2?"active":"")"><a href="/Admin/HomeBanner/Index">Giriş</a></li>
                        <li class="@(ViewBag.PageId==3.3?"active":"")"><a href="/Admin/Product/Index">Ürünler</a></li>
                        <li class="@(ViewBag.PageId==3.4?"active":"")"><a href="/Admin/Gallery/Index">Galeri</a></li>
                        <li class="@(ViewBag.PageId==3.5?"active":"")" disabled><a href="#"><del>Blog</del></a></li>
                        <li class="@(ViewBag.PageId==3.6?"active":"")"><a href="/Admin/Contact/Index">İletişim</a></li>
                        <li class="@(ViewBag.PageId==3.7?"active":"")" disabled><a href="#"><del>Alt Kısım</del></a></li>
                    </ul>
                </li>

                <hr style="border:0.5px solid darkslategrey">

                <li>
                    <a href="javascript:void(0)" aria-expanded="true">
                        <i class="ti-email"></i><span>
                            E-Postalar
                        </span>
                    </a>
                    <ul class="collapse @((int)ViewBag.PageId==4?"in":"")">
                        <li class="@(ViewBag.PageId==4.1?"active":"")"><a href="/Admin/Message/Index">Gelen Kutusu</a></li>
                        <li class="@(ViewBag.PageId==4.2?"active":"")"><a href="/Admin/Message/Archive">Arşiv</a></li>
                        <li class="@(ViewBag.PageId==4.3?"active":"")"><a href="/Admin/Message/Trash">Çöp Kutusu</a></li>
                    </ul>
                </li>
                <li class="@(ViewBag.PageId==5?"active":"")">
                    <a href="/Admin/Subscriber/Index">
                        <i class="ti-user"></i>
                        <span>Aboneler</span>
                    </a>
                </li>
                @*
        <li>
            <a href="javascript:void(0)" aria-expanded="true">
                <i class="ti-book"></i><span>
                    Yazılar
                </span>
            </a>
            <ul class="collapse">
                <li class=""><a href="index.php">Tüm Yazılar</a></li>
                <li class=""><a href="index.php">Yeni Ekle</a></li>
                <li class=""><a href="index.php">Kategoriler</a></li>
                <li class=""><a href="index.php">Etiketler</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" aria-expanded="true">
                <i class="ti-gallery"></i><span>
                    Fotoğraflar
                </span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" aria-expanded="true">
                <i class="ti-comments-smiley"></i><span>
                    Yorumlar
                </span>
            </a>
            <ul class="collapse">
                <li class=""><a href="index.php">Onaylananlar</a></li>
                <li class=""><a href="index.php">Onay Bekleyenler</a></li>
                <li class=""><a href="index.php">Çöp</a></li>
            </ul>
        </li>
        <hr style="border:0.5px solid darkslategrey">
        <li>
            <a href="javascript:void(0)" aria-expanded="true">
                <i class="ti-email"></i><span>
                    E-Postalar
                </span>
            </a>
            <ul class="collapse">
                <li class=""><a href="index.php">Okunmamış</a></li>
                <li class=""><a href="index.php">Arşiv</a></li>
                <li class=""><a href="index.php">Çöp</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" aria-expanded="true">
                <i class="ti-user"></i><span>
                    Aboneler
                </span>
            </a>
            <ul class="collapse">
                <li class=""><a href="index.php">Tüm Aboneler</a></li>
                <li class=""><a href="index.php">Yeni Ekle</a></li>
            </ul>
        </li>*@
            </ul>
        </nav>
    </div>
</div>