@model MetaModel

<!-- meta tags -->
<meta name="title" content="@Model.Title" />
<meta name="description" content="@Model.Description">
<meta name="keywords" content="@Model.Keywords" />
<meta name="author" content="@Model.Author" />
<meta name="owner" content="@Model.Owner" />
<meta name="copyright" content="@Model.CopyrightForMeta" />
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="~/img/@Model.Favicon">
<link rel="apple-touch-icon" href="~/img/@Model.Favicon">
<title>@Model.Title</title>